# Python Sets

- Sets are used to store multiple items in a single variable.
- A set is an unordered collection of unique elements.
- It's a data structure that doesn't allow duplicate values.
- Sets are defined using curly braces `{}` or a `set()` constructor and seprated by comma`(,)`.
- Sets provide a variety of methods for performing common set operations like Union, Intersection, Difference and more.

### NOTE:

1. Set items are unchangeable but we can remove items and add new items.
2. Sets are unordered so we cannot be sure in which order the items will appear.
3. Once a set is created we cannot change its item but we can remove items and add new items in it.
4. In sets the value of True and 1 are consider the same value and are treated as duplicates.
5. And same as the value of False and 0 are consider the same value and are treated as dupliactes.

## Key Characteristics:

1. `Unordered`: Elements in a set don't have a specific order.
2. `Unique`: Each element can appear only once in a set.
3. `Mutable`: Sets can be modified after creation by adding or removing elements.
4. `Iterable`: You can iterate over the elements of a set using a `for` loop.

## Creating Sets

In [57]:
banks = {"SBI", "RBL", "IOB", "BOI", "RBL"}
banks

{'BOI', 'IOB', 'RBL', 'SBI'}

In [29]:
# Created a set by using () brackets called as - set() Constructor
banks = set(["SBI", "RBL", "IOB", "BOI", "RBL"])
banks

{'BOI', 'IOB', 'RBL', 'SBI'}

In [35]:
# In this program set value of True and 1 are considerd as same so it gives output of either
# True (or) 1
banks = {"SBI", "RBL", "IOB", "BOI", "RBL", True , 1}
banks

{'BOI', 'IOB', 'RBL', 'SBI', True}

In [37]:
# In this program set value of False and 0 are consider as same so it gives output of either
# False (or) 0
banks = {"SBI", "RBL", "IOB", "BOI", "RBL", False , 0}
banks

{'BOI', False, 'IOB', 'RBL', 'SBI'}

In [75]:
# Example program of using len() function
banks = {"SBI", "RBL", "IOB", "BOI", "RBL"}
len(banks)

4

In [49]:
# Example program of using type() function
banks = {"SBI", "RBL", "IOB", "BOI", "RBL", True , 1}
print(type(banks))

<class 'set'>

## Set Operations:

- Python Set provides serveral operations for working with sets.

### 1.`Union` Operation:

- The Union operation will combine elements of sets by removing duplicates.

### Syntax

In [ ]:
set1.union(set2) or set1 | set2

In [92]:
fruits = {"apple", "mango", "banana", "kiwi"}
fruits2 = {"mango", "watermelon", "orange"}

a = fruits.union(fruits2)
           #OR
b = fruits | fruits2

print(a)
print(b)

{'apple', 'mango', 'watermelon', 'kiwi', 'banana', 'orange'}
{'apple', 'mango', 'watermelon', 'kiwi', 'banana', 'orange'}

### 2. `Intersection` Operation:

- The intersection operation will create a new set containing elements that are common to both sets.

### Syntax

In [ ]:
set1.intersection(set2) or set1 & set2

In [258]:
fruits = {"apple", "mango", "banana", "kiwi"}
fruits2 = {"mango", "watermelon", "orange"}

a = fruits.intersection(fruits2)
           #OR
b = fruits & fruits2

print(a)
print(b)

{'mango'}
{'mango'}

### 3. `Difference` Operation:

- In Difference Operation it will create a new set containing elements that are in the first set but not in the second.

### Syntax

In [ ]:
set1.difference(set2) or set1 - set2

In [156]:
fruits = {"apple", "mango", "banana", "kiwi"}
fruits2 = {"apple", "mango", "watermelon", "orange"}

a = fruits.difference(fruits2)
           #OR
b = fruits - fruits2

c = fruits2 - fruits

print(a)
print(b)
print(c)

{'kiwi', 'banana'}
{'kiwi', 'banana'}
{'orange', 'watermelon'}

### 4.`Symmetric Difference` Operation:

- The symmetric difference operation will be create a new set containing elements that are in either set, but not in both.

### Syntax

In [ ]:
set1.symmetric_difference(set2) or set1 ^ set2

In [175]:
fruits = {"apple", "mango", "banana", "kiwi"}
fruits2 = {"mango", "watermelon", "orange"}

a = fruits.symmetric_difference(fruits2)
           #OR
b = fruits ^ fruits2

print(a)
print(b)

{'apple', 'orange', 'watermelon', 'kiwi', 'banana'}
{'apple', 'orange', 'watermelon', 'kiwi', 'banana'}

## Set Methods

- It has a set of built-in methods that we can use on sets.

| Method | Shortcut | Description |
|--------|----------|-------------|
| add() | | Adds an elemnet to the set|
| update() | I= |  Update the set with the union of this set and others |
| clear() | | Removes all the elements from the set|
| copy() | | Returns a copy of the set |
| union() | I | Return a set contaning the union of stes|
| difference() | - | Returns a set contaning the difference between two or more sets|
| difference_update() | -= | Removes the items in this set that are also included in another specified set|
| discard() | | Remove the specified item |
| intersection() | & | Returns a set, that is the intersection of two other sets |
| intersection_update() | &= | Removes the items in this set that are not present in other, specified set|
| isdisjoint() | | Returns whether two sets have a intersection or not |
| issubset() | <= | Returns whether another set contains this set or not |
| | < | Returns whether all items in other specified set(s) is present in this set|
| issuperset() | >= | Returns whether this set conatins another set or not|
| | > | Returns whether all items in other, specified set(s) is present in this set.|
| pop() | | Removes an element from the set|
| remove() | | Removes the specified element |
| symmetric_difference()| ^ | Returns a set with the symmetric difference of two sets|
| symmetric_difference_update()| ^=| Inserts the symmetric difference from this set and another|

## 1.`add()`:

- The add() method adds an elemnet to the set.

### Syntax

In [ ]:
set.add(elmnt)

In [165]:
banks = {"SBI", "RBL", "IOB", "BOI", "RBL"}
banks.add("HDFC")
banks

{'BOI', 'HDFC', 'IOB', 'RBL', 'SBI'}

### 2.`update()`:

- The update() method updates the current set, by adding items from another set (or any other iterable).
- If an item is present in both sets, only one appearance of this item will be present in the updated set.
- Shortcut `|=`

In [189]:
fruits = {"apple", "mango", "banana", "kiwi"}
fruits2 = {"mango", "watermelon", "orange"}

fruits2 |= fruits
print(fruits2)

{'mango', 'apple', 'watermelon', 'kiwi', 'banana', 'orange'}

## 3.`clear()`:

- The clear() method removes all elements in a set.

### Syntax

In [ ]:
set.clear()

In [202]:
fruits = {"apple", "mango", "banana", "kiwi"}
fruits2 = {"mango", "watermelon", "orange"}

fruits.clear()
fruits2.clear()
fruits
fruits2

set()

## 4.`copy()`:

- The copy() method copies the set.

### Syntax

In [ ]:
set.copy()

In [207]:
fruits = {"apple", "mango", "banana", "kiwi"}
fruits2 = fruits.copy()
print(fruits2)

{'kiwi', 'apple', 'mango', 'banana'}

## 5.`union()`:

- The union() method returns a set that contains all items from the otiginal set, and all items from the specified set(s).
- We can specify as many sets we want, separated by commas.
- It does not have to be a set, it can be any iterable object.
- If an item is present in more than one set the result will contain only one apperance of this item.
- As a shortcut we can use the `|` operator.

### Syntax

In [ ]:
set.union(set1, set2...)

In [223]:
fruits1 = {"apple", "banana", "cherry"}
fruits2 = {"google", "microsoft", "apple"}
fruits1 | fruits2

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

## 6.`difference()`:

- The difference() method returns a set that contains the difference between twe sets.
- As a shortcut we cause use the `-` operator.

### Syntax

In [ ]:
set.difference(set1, set2...etc.)

In [233]:
fruits1 = {"apple", "banana", "cherry"}
fruits2 = {"google", "microsoft", "apple"}
fruits1 - fruits2

{'banana', 'cherry'}

## 7.`difference_update()`:

- The difference_update() method removes the items that exits in both sets.
- As a shortcut, you can use the `-=` operator instead.

### Syntax

In [ ]:
set.difference_update(set1, set2... etc)

In [248]:
fruits1 = {"apple", "banana", "cherry"}
fruits2 = {"google", "microsoft", "apple"}
fruits1 -= fruits2
print(fruits1)

{'cherry', 'banana'}

## 8.`discard()`:

- The `discard()` method remove the specified item from the set.

### Syntax

In [ ]:
set.discard(value)

In [320]:
fruits1 = {"apple", "banana", "cherry"}
fruits.discard("apple")
print(fruits)

{'kiwi', 'mango', 'banana'}

## 9.`intersection()`:

- The `intersection()` method returns a set that contains the similarity between two or more sets.
- As a shortcut we can use the `&` operator.

### Syntax

In [ ]:
set.intersection(set1, set2...etc)

In [314]:
fruits = {"apple", "mango", "banana", "kiwi"}
fruits2 = {"mango", "watermelon", "orange"}

a = fruits.intersection(fruits2)
           #OR
b = fruits & fruits2

print(a)
print(b)

{'mango'}
{'mango'}

## 10. `intersection_update()`:

- The intersection_update() method removes the items that is not present in both sets.
- As a shortcut we can use the `&=` operator.

### Syntax

In [ ]:
set.intersection_update(set1, set2...etc)

In [270]:
fruits = {"apple", "mango", "banana", "kiwi"}
fruits2 = {"mango", "watermelon", "orange"}

fruits &= fruits2

print(fruits)

{'mango'}

## 11.`isdisjoint()`:

- The `isdisjoint()` method returns True if none of the items are present in both stes, otherwise it returns False.

### Syntax

In [ ]:
set.isdisjoint(set)

In [277]:
fruits = {"apple", "banana", "cherry"}
fruits2 = {"google", "microsoft", "apple"}
fru = fruits.isdisjoint(fruits2)

print(fru)

False

## 12.`issubset()`:

- The `issubset()` method returns True if all items in the set exits in the specifid set otherwise it returns False.
- As a shortcut we can use the `<=` operator.

### Syntax

In [ ]:
set.issubset(set1)

In [286]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x <= y
print(z)

True

## 13.`pop()`:

- The `pop()` method removes a random item from the set.
- This method returns the removed item.

### Syntax

In [ ]:
set.pop()

In [291]:
fruits = {"apple", "banana", "cherry"}

x = fruits.pop() 

print(x)

cherry

## 14.`symmetric_difference()`:

- The `symmetric_difference()` method returns a set that contain all items from both set, but not the items that are present in both sets.
- As a shortcut we can use the `^` operator.

### Syntax

In [ ]:
set.symmetric_difference(set1)

In [301]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x ^ y

print(z)

{'cherry', 'google', 'microsoft', 'banana'}

## 15.`symmetric_difference_update()`:

- The `symmetric_difference_update()` method updates the original set by removing items that are present in both sets, and inserting the other items.
- As a shortcut we can use the `^=` operator.

### Syntax

In [ ]:
set.symmetric_difference_update(set1)

In [308]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x ^= y

print(x)

{'cherry', 'google', 'microsoft', 'banana'}

## 16.`remove()`:

- The `remove()` method removes the specified element from the set.

### Syntax

In [ ]:
set.remove(item)

In [324]:
fruits1 = {"apple", "banana", "cherry"}
fruits1.remove("apple")
print(fruits)

{'kiwi', 'mango', 'banana'}