# Python String

- A string in Python is a sequence of characters enclosed within single quotes ('), double quotes ("), or triple quotes (''' or """).
- It's an immutable data type, meaning once a string is created, its content cannot be changed.
- Strings are widely used for handling text-based data, such as names, addresses, sentences, and more.
- In generally a strings in a python is a sequence of characters.
- However, we can perform various operations and use methods to manipilate and work with string.
- String's are one of the most commonly used data types, and they are used to represent text.

## Key Characteristics

1. Immutability : Strings cannot be modified after creation.
2. Indexing : Each character in a string has an index, starting from 0.
3. Slicing : You can extract substring using slicing.
4. Concatenation : Strings can be combined using the + operator.
5. Methods : Python provied numereous built-in string methods for manipulation.

### Create a String

In [10]:
str1 = 'Sakku'
str2 = "Sakku"
str3 = """ In the result, the line break
are inserted at the same position. """

print(str1)
print(str2)
print(str3)

print(type(str1))
print(type(str2))
print(type(str3))

Sakku
Sakku
 In the result, the line break
are inserted at the same position.
<class 'str'>
<class 'str'>
<class 'str'>

## Accessing Characters of a String

- The string characters will have default index values which are starting from LHS - RHS 
- The first character index value is [0] and second of that will be [1] and so..on...

In [16]:
# Example program
course = "Data Science"
print(course[4])
print(course[9])
print(course[11])

n
e

## String Operations

- Python allows various operations on strings that make it easy to manipulate and work with textual data. Here are some common string operations.

## 1. Concatenation

- By using Concatenation we can combine strings using the + operator.

In [23]:
# Example Program
name  = "Sakku"
fruit = "Love Mango"
sentence = name + " " + fruit
print(sentence)

Sakku Love Mango

## 2. Repetition

- Repeating a string multiple times.

In [41]:
sentence = "Don't watch the clock; do what it does. Keep going. \n"
repeat = sentence*3
print(repeat)

Don't watch the clock; do what it does. Keep going.
Don't watch the clock; do what it does. Keep going.
Don't watch the clock; do what it does. Keep going.

## 3. Indexing

- Accessing individual character in a string.

In [33]:
name = "Sakhlain"
print(name[7])
print(name[5])

n
a

## 4. Slicing

- Extracting a substring from a string.

In [39]:
string = "Hi Myself i am SK.Sakhlain "
print(string[9:12])
print(string[15:26])

 i
SK.Sakhlain

## Python Formate Strings

1. Old style formating ( % operator):
- Uses % operator and palceholder.

In [51]:
name = "Sakku"
age = 21
sentence = " My name is %s and I am %d years old. " %(name,age)
print(sentence)

 My name is Sakku and I am 21 years old.

2. Format Method
- Uses the format method with placeholder{}

In [66]:
name = "Ajay Kumar"
age = 21
result = "My name is {} and I am {} years old.".format(name,age)
print(result)

My name is Ajay Kumar and I am 21 years old.

3. String Interpolation (f - string)
- To specify a string as an f-string, simply put an " f " in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [74]:
name = "Devaraju"
age = 21
result = f"My name is {name} and I am {age} years old."
print(result)

My name is Devaraju and I am 21 years old.

## String Methods

- Python has a set of built - in methods that we can use on strings.
- All string methods return new values they do not change the original string.

| Method | Description|
|--------|------------|
| len()  | Returns the length of the string  |
| lower()| Converts a string into lower case|
| upper()| Converts a string into upper case|
| strip()| Remove leading and trailing whitespaces|
| replace()| Replace a substring with another substring|
| split()| Split ths string into a list of substrings|
| join()| Joins the list of strings into a single string|
| capitalize()| Converts the first character to upper case|
| casefold()| Converts string into lower case|
| center() | Returns a centered string|
| count() | Returns the number of items a specified value occurs in a string|
| encode() | Returns an encoded version of the string|
| endswith()| Returns true if the string ends with the specified value|
| expandtabe()| Sets the tab size of the string|
| find()| Search the string for a specified value and retuens the position of where it was found|
| format() | Formates specified values in a string|
| index() | Searches the string for a specified value and retuerns the position of where it was found|
| format_map() | Formate specified values in a string|
| translate() | Returns a translated string|
| zfill() | Fills the string with a specified number of 0 values at the beginning|
| title()| Converts the first character of each word to upper case|
| swapcase() | Swaps cases, lower case becomes upper case and vice versa|
| splitilines()| Splits the string ata line breaks and retuen a list|
| rfind()| Searches the string for a specified value and returns the last position of where it was found|
| rindex()| Searches the string for a specified value and retuerns the last position of where it was found|
| rjust()| Returns a right justified version of the string|
| rsplit()| Splits the string at the specified separator, and returns a list|
| rstrip()| Returns a right trim version of the string|
| isdigit()| Returns True if all characters in the string are digits|
| isnumeric()| Returns True if all characters in the string are numeric|
| islower()| Returns True if all characters in the string are lower case|

## 1. `len()`:

- Returns the length of the string

In [93]:
# Example program
string = "Python is fun"
length = len(string)
print(length)

13

## 2.`lower()`:

- Converts the string to lower case

In [97]:
string = "SAKKU"
print(string.lower())

sakku

## 3.`upper()`:

- Converts the string to upper case

In [101]:
string = "sakku"
print(string.upper())

SAKKU

## 4.`strip()`:

- Remove leading and trailing whitespaces

In [105]:
string = "  python  "
print(string.strip())

python

## 5.`replace()`:

- Replaces a substring with another substring.

In [114]:
string = "HI gopal"
string2 = string.replace("gopal","Deva")
print(string2)

HI Deva

## 6.`split()`:

- Split the string into a list of substrings.

In [118]:
sentence = "Hi i am SK.Sakhlain"
print(sentence.split())

['Hi', 'i', 'am', 'SK.Sakhlain']

## 7.`join()`:

- Join's a list of string into a single string.

In [126]:
sentence = ['Hi','i','am',"SK.Sakhlain"]
print(' '.join(sentence))

Hi i am SK.Sakhlain

## 8.`capitalize()`:

- Converts the frist character to upper case.

### Syntax

In [ ]:
string.capitalize()

In [285]:
intro = "hello, and welcome to my world."
result = intro.capitalize()
print (result)

Hello, and welcome to my world.

## 9. `casefold()`:

- Converts string into lower case

### Syntax

In [ ]:
string.casefold()

In [145]:
intro = "Hello, And Welcome To My World."
result = intro.casefold()
print (result)

hello, and welcome to my world.

## 10.`center()`:

- Returns a centered string.

### Syntax

In [ ]:
string.center(length, character)

In [151]:
txt = "sakku"
x = txt.center(20, "A")
print(x)

AAAAAAAsakkuAAAAAAAA

## 11.`count()`:

- Returns the number of times a specified value occurs in a string.

### Syntax

In [ ]:
string.count(value,start,end)

In [160]:
txt = "I love apples, apple, apple are my favorite fruit"
x = txt.count("apple", 10, 30)
print(x)

2

## 12.`encode()`:

- Returns an encoded version of the string.

### Syntax

In [ ]:
string.encode(encoding=encoding, errors=errors)

In [165]:
name = "Sakhlain"
lock = name.encode()
print(lock)

b'Sakhlain'

## 13.`endswith()`:

- Returns true if the string ends with the specified value.

### Syntax

In [ ]:
string.endwith(value,start,end)

In [170]:
sen = "Hello, welcome to my world."
x = sen.endswith("my world.")
print(x)

True

## 14`expandtabs()`:

- Sets the tab size of the string

### Syntex

In [ ]:
string.expandtabs(tabsize)

In [175]:
space = "H\te\tl\tl\to"

print(space)
print(space.expandtabs())
print(space.expandtabs(2))
print(space.expandtabs(4))
print(space.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

## 15.`find()`:

- Searches the string for a specified value and returns the position of where it was found.

### Syntax

In [ ]:
string.find(value, start, end)

In [183]:
finding = "Hello, welcome to my world."
x = finding.find("w")
print(x)

7

## 16.`format()`:

- Formats specified values in a string.

### Syntax

In [ ]:
string.format(value1, value2...)

In [191]:
for1 = "My name is {fname}, I'm {age}".format(fname = "sakku", age = 21)
for2 = "My name is {0}, I'm {1}".format("sohail",22)
for3 = "My name is {}, I'm {}".format("John",50)

print(for1)
print(for2)
print(for3)

My name is sakku, I'm 21
My name is sohail, I'm 22
My name is John, I'm 50

## 17.`index()`:

- Searches the string for a specified value and returns the position of where it was found.

### Syntax

In [ ]:
string.index(value, start, end)

In [197]:
inde_sentence = "Hello, welcome to my world."
x = inde_sentence.index("d")
print(x)

25

## 18.`format_map()`:

- Formats specified values in a string.

### Syntax

In [ ]:
string.format_map(mapping)

In [202]:
person = {'name': 'Alice', 'age': 30}
text = "Hello, my name is {name!s} and I am {age!r} years old."
formatted_text = text.format_map(person)
print(formatted_text)

Hello, my name is Alice and I am 30 years old.

## 19.`translate()`:

- Returns a translated string.

### Syntax

In [ ]:
string.translate(table)

In [207]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

## 20. `zfill()`:

- Fills the string with a specified number of 0 values at the beginning.

### Syntax

In [ ]:
string.zfill(len)

In [214]:
name = "sakku"
print(name.zfill(10))

00000sakku

## 21.`title()`:

- Converts the first character of ecah word to upper case.

### Syntax

In [ ]:
string.title()

In [220]:
title_1 = "Welcome to my world"
x = title_1.title()
print(x)

Welcome To My World

## 22.`swapcase()`:

- Swaps cases, lower case becomes upper case and vice versa.

### Syntax

In [ ]:
string.swapcase()

In [226]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

## 23.`splitlines()`:

- The splitlines() method splits a string into a list. The splitting is done at line breaks.

### Syntax

In [ ]:
string.splitlines(keeplinebreaks)

In [235]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

## 24. `rfind()`:

- The rfind() method finds the last occurrence of the specified value.

- The rfind() method returns -1 if the value is not found.

- The rfind() method is almost the same as the rindex() method.

### Syntax

In [ ]:
string.rfind(value, start, end)

In [240]:
txt = "Hello, welcome to my world."

x = txt.rfind("e", 5, 10)

print(x)

8

## 25. `rindex()`:

- The rindex() method finds the last occurrence of the specified value.

- The rindex() method raises an exception if the value is not found.

- The rindex() method is almost the same as the rfind()

### Syntax

In [ ]:
string.rindex(value, start, end)

In [246]:
txt = "Hello, welcome to my world."

x = txt.rindex("e")

print(x)

13

## 26. `rjust()`:

- The rjust() method will right align the string, using a specified character (space is default) as the fill character.

### Syntax

In [ ]:
string.rjust(length, character)

In [251]:
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [253]:
txt = "banana"

x = txt.rjust(20, "O")

print(x)

OOOOOOOOOOOOOObanana

## 27. `rspli()`:

- The rsplit() method splits a string into a list, starting from the right.

- If no "max" is specified, this method will return the same as the split() method.

### Syntax

In [ ]:
string.rsplit(separator, maxsplit)

In [258]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [260]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ", 1)

print(x)

['apple, banana', 'cherry']

## 28. `rstrip()`:

- The rstrip() method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.

### Syntax

In [ ]:
string.rstrip(characters)

In [267]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [269]:
txt = "banana,,,,,ssqqqww....."

x = txt.rstrip(",.qsw")

print(x)

banana

## 29. `isdigit()`:

- The isdigit() method returns True if all the characters are digits, otherwise False.

- Exponents, like ², are also considered to be a digit.

### Syntax

In [ ]:
string.isdigit()

In [274]:
txt = "50800"

x = txt.isdigit()

print(x)

True

In [276]:
a = "\u0030" 
b = "\u00B2" 

print(a.isdigit())
print(b.isdigit())

True
True

## 30. `isnumeric()`:

- The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.

- Exponents, like ² and ¾ are also considered to be numeric values.

- "-1" and "1.5" are NOT considered numeric values, because all the characters in the string must be numeric, and the - and the . are not.

### Syntax

In [ ]:
string.isnumeric()

In [281]:
txt = "565543"

x = txt.isnumeric()

print(x)

True

In [283]:
a = "\u0030" 
b = "\u00B2" 
c = "10km2"
d = "-1"
e = "1.5"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

True
True
False
False
False

### 31. `islower()`:

- The islower() method returns True if all the characters are in lower case, otherwise False.

- Numbers, symbols and spaces are not checked, only alphabet characters.

### Syntax

In [ ]:
string.islower()

In [290]:
txt = "hello world!"

x = txt.islower()

print(x)

True

In [292]:
a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False