## Python Operator's

- Operator's are special symbols or keywords used to perform operations on variables and values.
- They form the backbone of Python expressions and statements, allowing you to manipulate data effectively.
- Python divide the operator's in the following groups.
 1. Arithmetic Operator
 2. Assigment Operator
 3. Comparision Operator
 4. Logical Operator
 5. Identity Operator
 6. Membership Operator
 7. Bitwise Operator

### Arithmetic Operator

- These operators are used to perform basic mathematical operations.

|  Operator    |  Description   |   Example  |
|--------------|-------------   |------------|
|    +         |   Addition	    |   x + y    |
|    -	       |  Subtraction   |   x - y    |
|    *	       |  Multiplication|	x * y    |
|    /	       | Division (quo)	|   x / y    |
|    %	       |   Modulus(Rem)	|   x % y    |
|   //	       | Floor division |	x // y   |
|   **	       | Exponentiation	|   x ** y   |

### 5 Examples on each Arithmetic Operator's

In [239]:
# 5 examples on Add(+) - operator
# Eaxmple - 1
a = 10
b = 15
c = a + b 
print(c)

# Example - 2
d = 25
d += 5
print(d)

# Example - 3
print(100 + 50)

# Example - 4
drlg = 1000
deva = 525
gopal = deva + drlg
print(gopal)

# Example - 5
x = 5
y = 3
print(x + y)

25
30
150
1525
8

In [241]:
# 5 examples on Sub(-) - operator
# Eaxmple - 1
a = 10
b = 15
c = a - b 
print(c)

# Example - 2
d = 25
d -= 5
print(d)

# Example - 3
print(100 - 50)

# Example - 4
drlg = 1000
deva = 525
gopal = deva - drlg
print(gopal)

# Example - 5
x = 5
y = 3
print(x - y)

-5
20
50
-475
2

In [243]:
# 5 examples on Mul(*) - operator
# Eaxmple - 1
num1 = 5
num2 = 3
result = num1 * num2
print(result)

# Eaxmple - 2
length = 10
width = 5
area = length * width
print(area)

# Example - 3
name = "Sakku"
repeate = name * 3
print(repeate)

# Example - 4
print(25*5)

# Example - 5
num = 100
mul = 3
print(num * mul)

15
50
SakkuSakkuSakku
125
300

In [245]:
# 5 examples on Div(/) - operator
# Eaxmple - 1
num1 = 7.5
num2 = 2.5
result = num1 / num2
print(result)

# Eaxmple - 2
length = 9
width = 4
area = length / width
print(area)

# Example - 3
x = -15
y = 3
result = x / y
print(result) 

# Example - 4
print(25/5)

# Example - 5
num = 100
mul = 3
print(num / mul)

3.0
2.25
-5.0
5.0
33.333333333333336

In [247]:
# 5 examples on Modulus(%) - operator
# Eaxmple - 1
num1 = 10
num2 = 3
modulus = num1 % num2
print(modulus)

# Eaxmple - 2
length = 12345
area =  length % 10
print(area)

# Example - 3
x = -15
y = 3
result = x % y
print(result) 

# Example - 4
print(255 % 5)

# Example - 5
num = 100
mul = 3
print(num % mul)

1
5
0
0
1

In [249]:
# 5 examples on Floor - Divison(//) - operator
# Eaxmple - 1
num1 = 10
num2 = 4
result = num1 // num2
print(result)

# Eaxmple - 2
length = 9
width = 4
area = length // width
print(area)

# Example - 3
x = -15
y = 3
result = x // y
print(result) 

# Example - 4
print(25 // 5)

# Example - 5
num = 100
mul = 3
print(num // mul)

2
2
-5
5
33

In [251]:
# 5 examples on Exponentiation(**) - operator
# Eaxmple - 1
num1 = 5
num2 = 3
result = num1 ** num2
print(result)

# Eaxmple - 2
length = 10
width = 5
area = length ** width
print(area)

# Example - 3
num = 10
exp = num ** 3
print(exp)

# Example - 4
print(25 ** 5)

# Example - 5
num = 7
mul = 3
print(num ** mul)

125
100000
1000
9765625
343

## Assigment Operator

- It was used to optimize the code.
- Assigment operator are used to assgin the values to variables.

|  Operator     |  Example  |
|-------------- |-----------|
|    =          |   x = y   |
|    +=         |   x += y  |
|    -=	        |   x -= y  |
|    *=	        |   x *= y  |
|    /=         |   x /= y  |
|    %=	        |   x %= y  |
|   //=	        |   x //= y |
|   **=	        |   x **= y |

### 5 Examples on each Assigment Operator's

In [257]:
# 5 examples on Equal(=) - operator
# Eaxmple - 1
a = 10

# Example - 2
b = 100

# Example - 3
print_100 = 100

# Example - 4
drlg = 1000

# Example - 5
x = 5

In [259]:
# 5 examples on Add-equal-to (+=) - operator
# Eaxmple - 1
x = 5
x += 3  
print(x)

# Eaxmple - 2
count = 0
count += 1
print(count)

# Example - 3
num = 10
num += 3
print(num)

# Example - 4
deva = 5000000
drlg = 1000000
drlg += deva
print(drlg)

# Example - 5
num = 7
mul = 3
num += mul
print(num)

8
1
13
6000000
10

In [261]:
# 5 examples on Sub-equal-to (-=) - operator
# Eaxmple - 1
a = 10
b = 15
a -= b 
print(a)

# Example - 2
d = 25
d -= 5
print(d)

# Example - 3
count = 0
count -= 1
print(count)

# Example - 4
drlg = 1000
deva = 525
deva -= drlg
print(deva)

# Example - 5
x = 5
x -= 3
print(x)

-5
20
-1
-475
2

In [263]:
# 5 examples on Mul-equal-to (*=) - operator
# Eaxmple - 1
num1 = 5
num2 = 3
num1 *= num2
print(num1)

# Eaxmple - 2
length = 10
width = 5
width *= length
print(width)

# Example - 3
name = "Sakku"
name *= 3
print(name)

# Example - 4
print_1 = 25 
print_2 = 5555555
print_2 *= print_1
print(print_2)

# Example - 5
num = 100
ans = 3
ans *= num
print(ans)

15
50
SakkuSakkuSakku
138888875
300

In [265]:
# 5 examples on Div-eual-to(/=) - operator
# Eaxmple - 1
num1 = 7.5
num2 = 2.5
num1 /= num2
print(num1)

# Eaxmple - 2
length = 9
width = 4
length /= width
print(length)

# Example - 3
x = -15
y = 3
x /= y
print(x) 

# Example - 4
print_1 = 25 
print_2 = 5555555
print_2 /= print_1
print(print_2)

# Example - 5
num = 100
mul = 3
num *= mul
print(num)

3.0
2.25
-5.0
222222.2
300

In [267]:
# 5 examples on Modulus-equal-to (%=) - operator
# Eaxmple - 1
mod = 10
lus = 3
mod %= lus
print(mod)

# Eaxmple - 2
length = 12345
length %= 10
print(length)

# Example - 3
x = 15
y = 3
y %= x
print(y) 

# Example - 4
gopal = 5000000
sakku = 1000000
sakku %= gopal
print(sakku)


# Example - 5
num = 100
mul = 3
mul %= num
print(mul)

1
5
3
1000000
3

In [269]:
# 5 examples on Floor-equal-to (//=) - operator
# Eaxmple - 1
mod = 10
lus = 3
mod //= lus
print(mod)

# Eaxmple - 2
length = 12345
length //= 10
print(length)

# Example - 3
x = 15
y = 3
y //= x
print(y) 

# Example - 4
gopal = 500
sakku = 10
gopal //= sakku
print(gopal)


# Example - 5
num = 100
mul = 3
num //= mul
print(num)

3
1234
0
50
33

In [271]:
# 5 examples on Exponetation-equal-to (**=) - operator
# Eaxmple - 1
num1 = 5
num2 = 3
num1 **= num2
print(num1)

# Eaxmple - 2
length = 10
width = 5
length **= width
print(length)

# Example - 3
x = 15
y = 3
y **= x
print(y) 


# Example - 4
length = 12345
length **= 10
print(length)

# Example - 5
num = 100
mul = 3
num **= mul
print(num)

125
100000
14348907
82207405646327461794954634291560556640625
1000000

### Comparision Operator

- It compare two variables, two values and return an Boolean results, True (or) False
- By simply we can say that the comparision operator are used to compare two values.

|  Operator |  Description   |   Example  |
|--------------|-------------   |------------|
|   ==         |    Equal	    |  x == y    |
|   !=	       |   Not equal     |  x != y    |
|   >	       |   Greater than  |  x > y     |
|   <	       |   Less than   	|  x < y     |
|   >=	       | Greater than or equal| x >=y     |
|   <=	       | Less than or equal to |  x <= y    |

### 5 Examples on each Comparision Operator's

In [277]:
# 5 examples on Equal-to (==) - operator
# Eaxmple - 1
num1 = 5
num2 = 5
print(num1 == num2)

# Example - 2
x = 10
y = 5
print(x == y)

# Example - 3
name1 = "Alice"
name2 = "Bob"
print(name1 == name2)

# Example - 4
bool_1 = True
bool_2 = True
print(bool_1 == bool_2)

# Example - 5
sakku = "alekhya"
ali   = "sakhlain" 
print(sakku == ali)

True
False
False
True
False

In [279]:
# 5 examples on Not-equal-to (!=) - operator
# Eaxmple - 1
num1 = 5
num2 = 5
print(num1 != num2)

# Example - 2
x = 10
y = 5
print(x != y)

# Example - 3
name1 = "Alice"
name2 = "Bob"
print(name1 != name2)

# Example - 4
bool_1 = True
bool_2 = True
print(bool_1 != bool_2)

# Example - 5
sakku = "alekhya"
ali   = "sakhlain" 
print(sakku != ali)

False
True
True
False
True

In [281]:
# 5 examples on Greater than (>) - operator
# Eaxmple - 1
num1 = 5
num2 = 5
print(num1 > num2)

# Example - 2
x = 10
y = 5
print(x > y)

# Example - 3
name1 = "Alice"
name2 = "Bob"
print(name1 > name2)

# Example - 4
bool_1 = True
bool_2 = True
print(bool_1 > bool_2)

# Example - 5
x = 10
y = 5
print(x > y)

False
True
False
False
True

In [283]:
# 5 examples on Less than (<) - operator
# Eaxmple - 1
num1 = 5
num2 = 10
print(num1 < num2)

# Example - 2
x = 10
y = 5
print(x > y)

# Example - 3
name1 = "Alice"
name2 = "Bob"
print(name1 > name2)

# Example - 4
bool_1 = True
bool_2 = True
print(bool_1 > bool_2)

# Example - 5
x = 10
y = 5
print(x > y)

True
True
False
False
True

In [285]:
# 5 examples on Greaterthan or equal to (>=) - operator
# Eaxmple - 1
num1 = 5
num2 = 5
print(num1 >= num2)

# Example - 2
x = 10
y = 5
print(x >= y)

# Example - 3
name1 = "Alice"
name2 = "Bob"
print(name1 >= name2)

# Example - 4
bool_1 = True
bool_2 = True
print(bool_1 >= bool_2)

# Example - 5
x = 10
y = 50
print(x >= y)

True
True
False
True
False

In [287]:
# 5 examples on Lessthan-equal-to (<=) - operator
# Eaxmple - 1
num1 = 5
num2 = 3
print(num1 <= num2)

# Eaxmple - 2
length = 10
width = 5
print(length <= width)

# Example - 3
x = 15
y = 3
print(y <= x )

# Example - 4
length = 10
print(length <= 10 )

# Example - 5
num = 100
mul = 3
print(mul <= num)

False
False
True
True
True

## Logical Operator

- Logical operators are symbols or words used to connect two or more expressions, resulting in a Boolean value (true or false).
- They are fundamental to decision-making and control flow in programming.
- Used to check whether an expression is True (or) False.

|  Operator |  Description   |   Example  |
|--------------|-------------   |------------|
|   and         | Returns True if both statements are ture	    |  x < 5 and x < 10    |
|   or	       | Returns True if one of the statements is true     |  x < 5 or x < 4    |
|   not	       | Reverse the result, returns False if the result is true  |  not(x < 5 and x < 10)     |

### 5 Examples on each Logical Operator's

In [293]:
# 5 Examples on and - operator
# Example - 1
print(5 < 10 and 10 < 5)

#Example - 2
x = 10 
y = 20
print(x < y and y > x)

# Eaxmple - 3
x = 5
print(x > 3 and x < 10)

# Eample - 4
x = 15.5
y = 20.5
print(x == y and y > x)

# Example - 5
drlg = "sakku"
deva = "drlg"
print(drlg == deva and deva > drlg)

False
True
True
False
False

In [295]:
# 5 Examples on or - operator
# Example - 1
print(5 < 10 or 10 < 5)

#Example - 2
x = 10 
y = 20
print(x < y or y > x)

# Eaxmple - 3
x = 5
print(x < 3 or x < 10)

# Eample - 4
x = 15.5
y = 20.5
a = 83
print(x == y or a > 100)

# Example - 5
ali = "sakku"
sakku = "sakku"
x = 10
print(ali == sakku or x > 12)

True
True
True
False
True

In [297]:
# 5 Examples on not - operator
# Example - 1
print(not(5 == 10 and 10 == 25))

#Example - 2
x = 10 
y = 20
print(not(x < y and x > x))

# Eaxmple - 3
x = 5
print(not(x < 3 or x < 10))

# Eample - 4
x = 15.5
y = 20.5
a = 83
print(not(x == y and a > 100))

# Example - 5
ali = "sakku"
sakku = "sakku"
x = 10
print(not(ali == sakku or x > 5))

True
True
False
True
False

## Identity Operator

- Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.
- Simply we can say that whether the value is present (or) not.

|  Operator    |  Description   |   Example  |
|--------------|-------------   |------------|
|    is        | Retruns True if both variables are the same object |   x is y    |
|    is not	       |  Retruns True if both variables are not the same object  |   x is not y    |

### 5 Examples on each Identity Operator's

In [303]:
# 5 Examples on is - operator
# Example - 1
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x = y
print(x is z)
print(z is y)

#Example - 2
name1 = "sakku"
name2 = "sakku"
print(name1 is name2)

# Eaxmple - 3
x1 = 5
x2 = 5
print(x1 is x1)

# Example - 4
fruits = "apple"
vegitables = "tomato"
print(fruits is vegitables)

True
True
True
True
False

In [305]:
# 5 Examples on is not - operator
# Example - 1
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x = y
print(x is not z)
print(z is not y)

#Example - 2
name1 = "sakku"
name2 = "sakku"
print(name1 is not name2)

# Eaxmple - 3
x1 = 5
x2 = 5
print(x1 is not x1)

# Example - 4
fruits = "apple"
vegitables = "tomato"
print(fruits is not vegitables)

False
False
False
False
True

## Membership Operator

- Membership operators are used to test if a sequence is presented in an object (or) not.

|  Operator    |  Description   |   Example  |
|--------------|-------------   |------------|
|    in        | Retruns True if a sequence with the specified value is present in the object |   x in y    |
|   not	in       |  Retruns True if a sequence with the specified value is not present in the object  |   x not in y    |

In [310]:
# 5 Examples on in - operator
# Example - 1
x = ["apple", "banana"]
print("banana" in x)

# Example - 2
name = "sakhlain"
print("S" in name)

# Example - 3
course = "Data Science"
print("ata" in course)

# Example - 4
x = [1,2,3,45,88]
print(3 in x)

# Example - 5
a = " a is b"
b = " b is not a"
print("is" in a)
print("is not" in b)

True
False
True
True
True
True

In [312]:
# 5 Examples on not in - operator
# Example - 1
x = ["apple", "banana"]
print("banana" not in x)

# Example - 2
name = "sakhlain"
print("S" not in name)

# Example - 3
course = "Data Science"
print("ata" not in course)

# Example - 4
x = [1,2,3,45,88]
print(3 not in x)

# Example - 5
a = " a is b"
b = " b is not a"
print("is" not in a)
print("is not" not in b)

False
True
False
False
False
False

## Bitwise Operator

- Bitwise Operators are used to compare binary numbers.

|  Operator | Name   | Description   |   Example  |
|-----------|------- |------------   |------------|
|   &       |  AND   | Sets each bit to 1 if both bits are 1  	    |  x & y    |
|   I	    |  OR    | Sets each bit to 1 if one of two bits is 1      |  x I y    |
|   ^	    |  XOR   | Sets each bit to 1 if only one of two bits is 1   |  x ^ y     |
|   ~	    |  NOT   | Inverts all the bits 	|  ~x     | 
|   <<	    |  Zero fill left shift|  Shift left by pushing zeros in from the right and let the leftmost bits fall off   | x << 2|
|   >>	    |  Signed right shift | Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off	  |x >> 2    |

In [317]:
# Examples on Bitwise Operator
# Example  - 1 on AND 
print(6 & 3)

# Example  - 2 on OR
print(4 | 3)

# Example  - 3 on XOR
print(5 ^ 2)

# Example - 4 on NOT
print(~3)

# Example - 5 on left shift
print(3 << 2)

# Example - 6 on Right shift
print(8 >> 2)

2
7
7
-4
12
2

## Opertor Precedence

- It was also called as BODMAS - Rule
- Operator precedence describe the order in which operations are performed.

|  Operator    |  Description   |
|--------------|-------------   |
|    ( )         |   Parentheses	    |   
|    **	       | Exponentiation    |   
|   +x   -x   ~x	       | Unary plus, unary minus, and bitwise NOT|	
|  *   /   //   %	       | Multiplication, division, floor division, and modulus	|   
|  +   -  	       |  Addition and subtraction	|   
|  <<   >>	       | 	Bitwise left and right shifts |	
|  &	       | Bitwise AND	| 
| ^ | Bitwise OR|
| I | Bitwise OR|
| ==  !=  >  >=  <  <=  is  is not  in  not in | Comparisons, identity, and membership operators|
| not | Logical NOT |
| and | AND|
|or|OR|

NOTE : If two operators have the same precendence, the expression is evaluated from left to right.