## Python Variables

- In Python, a variable is a name given to a memory location. It's essentially a container that holds data. This data can be of various types, such as numbers, text, or more complex structures.

### Key Points

- Dynamic typing : This means the same variable can hold different data types at different times during program execution.
- Assignment :  Variables are assigned values using the equal sign (=).

#### Rules For Variables

- Must start with a letter or underscore: my_variable, _secret are valid, but 123variable is not.
- Can contain letters, numbers, and underscores : age25, user_name are valid.
- Case-sensitive : age and Age are different variables.
- Cannot be a reserved keyword : Avoid using Python keywords like if, else, for, etc.

#### 20 Valid - Variables

In [110]:
# Valid Variables
myvar = "Hemanth"
my_var = "Mango"
_my_var = "Anji"
weight = 67.83
MY_VAR = "John"
myvar2 = "Sakku"
Mycar_123 ="Deva"
Teks_Acd_143 = "Vamsi sir"
List_malls = ["LULU", "PVR", "NEXUS"]
Set_123 = {1,2,3}
_tUpLe = ("Deva", "Drlg","Sakku")
a = 108
is_student = True
name = "Sakhlain"
coordinates =(83,61)
fruits = ["apple", "mango","graps"]
numbers_list = [1,5,7,9]
personal_info = {"deva", "age", "20", "city"}
anji_bool = False 
hemaSaKKu_143 = {"python", "ML", "SQL"}

print(myvar)
print(my_var)
print(_my_var)
print(weight)
print(MY_VAR)
print(myvar2)
print(Mycar_123 )
print(Teks_Acd_143)
print(List_malls )
print(Set_123 )
print(_tUpLe)
print(a)
print(is_student )
print(name)
print(coordinates)
print(fruits)
print(numbers_list)
print(personal_info )
print(anji_bool)
print(hemaSaKKu_143)

Hemanth
Mango
Anji
67.83
John
Sakku
Deva
Vamsi sir
['LULU', 'PVR', 'NEXUS']
{1, 2, 3}
('Deva', 'Drlg', 'Sakku')
108
True
Sakhlain
(83, 61)
['apple', 'mango', 'graps']
[1, 5, 7, 9]
{'deva', 'city', 'age', '20'}
False
{'SQL', 'ML', 'python'}

### 20 In-Valid Variables

In [104]:
#In-Valid Variables
-myvar = "Hemanth"
1my_var = "Mango"
@_my_var = "Anji"
weight 2 = 67.83
MY-VAR = "John"
myvar+2 = "Sakku"
Mycar*123 ="Deva"
$Teks_Acd_143 = "Vamsi sir"
-List_malls = ["LULU", "PVR", "NEXUS"]
&Set_123 = {1,2,3}
-_tUpLe = ("Deva", "Drlg","Sakku")
()a = 108
^is_student = True
`name = "Sakhlain"
{}coordinates =(83,61)
0FRU-1ITS = ["apple", "mango","graps"]
numbers1 - _list = [1,5,7,9]
pers*onal_info = {"deva", "age", "20", "city"}
&anji_bool = False 
+hemaSaKKu_143 = {"python", "ML", "SQL"}

print(-myvar)
print(1my_var)
print(@_my_var)
print(weight 2 )
print(MY-VAR)
print(myvar+2 )
print(Mycar*123)
print($Teks_Acd_143)
print(-List_malls)
print(&Set_123)
print(-_tUpLe )
print(()a)
print(^is_student )
print(`name )
print({}coordinates)
print(0FRU-1ITS)
print(numbers1 - _list)
print(pers*onal_info)
print(&anji_bool)
print(+hemaSaKKu_143)

SyntaxError: invalid decimal literal (4264207213.py, line 3)

## type() - Function

- type() function was used to know that what type of data was stored in a variable.

In [118]:
#Example
a = 10
b = 10.5
c = "teks"
print(type(a)) 
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

### Multiple - Variables

- In Python, we can declare multiple variables in a single statement by separating the variables with commas.

In [128]:
#Example 1
x,y,z = "Anji","Heman","Sakku"
print(x)
print(y)
print(z)

#Example 2
## We can assign the same value to multiple variables in one line also.
x = y = z = "TEKS"
print(x)
print(y)
print(z)

Anji
Heman
Sakku
TEKS
TEKS
TEKS